Babel==2.5.3
backports.functools-lru-cache==1.5
cairocffi==0.8.0
CairoSVG==1.0.22
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
coverage==4.5.1
cssselect2==0.2.1
cycler==0.10.0
Django==1.11
django-appconf==1.0.2
django-bootstrap-datepicker==1.2.3
django-bootstrap-datepicker-plus==1.0.0
django-bootstrap-datepicker-widget==0.1
django-bootstrap3==9.1.0
django-bootstrap3-datetimepicker==2.2.3
django-bootstrap4==0.0.6
django-bootstrap4-datetimepicker==4.2
django-compressor==2.2
django-countries==5.3
django-crispy-forms==1.7.2
django-extra-views==0.6.4
django-grappelli==2.11.1
django-haystack==2.8.1
django-jet==1.0.7
django-macaddress==1.5.0
django-oscar==1.5.3
django-pdfkit==0.3.1
django-phonenumber-field==2.0.0
django-ranged-response==0.2.0
django-request==1.5.4
django-simple-captcha==0.5.6
django-simple-pagination==1.1.8
django-suit==0.2.26
django-tables2==1.16.0
django-treebeard==4.3
django-widget-tweaks==1.4.2
factory-boy==2.10.0
Faker==0.8.13
funcsigs==1.0.2
get==1.0.2
html5lib==1.0.1
httplib2==0.11.3
idna==2.6
ipaddress==1.0.22
kiwisolver==1.0.1
matplotlib==2.2.2
mock==2.0.0
netaddr==0.7.19
numpy==1.14.2
oauthlib==2.0.7
opencv-contrib-python==3.4.0.12
pbr==4.0.2
pdfkit==0.6.0
pdfrw==0.4
phonenumberslite==8.9.4
Pillow==8.2.0
post==1.0.1
psycopg2-binary==2.7.4
public==1.0.1
purl==1.4
pycparser==2.18
PyJWT==1.6.1
pyparsing==2.2.0
PyPDF2==1.26.0
Pyphen==0.9.4
python-dateutil==2.7.2
python-openid==2.2.5
python-social-auth==0.3.6
pytz==2018.4
query-string==1.0.1
rcssmin==1.0.6
redis==2.10.6
reportlab==3.4.0
request==1.0.1
requests==2.18.4
requests-oauthlib==0.8.0
rjsmin==1.0.12
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
sorl-thumbnail==12.4.1
text-unidecode==1.2
tinycss2==0.6.1
Unidecode==0.4.21
urllib3==1.22
virtualenv==15.2.0
WeasyPrint==0.42.3
webencodings==0.5.1
xhtml2pdf==0.2.2
